<template>
  <div id="app">
    <eight-button></eight-button>
  </div>
</template>

<script>
import EightButton from './EightButton.vue';


export default {
  components: { EightButton },
};
</script>

<style lang="scss">
@import "normalize";

* {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  display: table;
  width: 100%;
}

#app {
  display: table-cell;
  vertical-align: middle;
}
</style>
