<template>
  <div id="eight-button" v-bind:class="{ 'is-loaded': isLoaded, 'is-playing': isPlaying }">
    <button v-on:click="playSound()">
      <span>8</span>
    </button>
  </div>
</template>

<script>
import { Howl } from 'howler';


export default {
  data() {
    return {
      isLoaded: false,
      isPlaying: false,
    };
  },

  methods: {
    playSound() {
      if (this.isLoaded && !this.isPlaying) {
        this.sound.play();
      }
    }
  },

  mounted() {
    this.sound = new Howl({
      src: [
        require('./assets/eight.webm'),
        require('./assets/eight.mp3'),
      ],
      format: [
        'webm',
        'mp3',
      ],
    });

    this.sound.on('load', () => {
      this.isLoaded = true;
    });

    this.sound.on('play', () => {
      this.isPlaying = true;
    });

    this.sound.on('end', () => {
      this.isPlaying = false;
    });
  },
};
</script>

<style lang="scss">
@import "bourbon";

#eight-button {
  border-radius: 500px;
  height: rem(320);
  margin: 0 auto;
  @include transition(all .2s);
  width: rem(320);

  &.is-playing {
    // box-shadow: 20px 20px 50px rgba(0, 0, 0, .2);

    button {
      box-shadow: rem(10) rem(10) rem(25) rgba(0, 0, 0, .1);
      @include transform(translate(10px, 10px));

      &:after {
        opacity: .5;
      }
    }
  }

  button {
    background-color: #fff;
    border: none;
    border-radius: 500px;
    box-shadow: rem(20) rem(20) rem(50) rgba(0, 0, 0, .3);
    color: #f00;
    cursor: pointer;
    display: block;
    font-size: rem(280);
    font-weight: bold;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    @include transition(all .2s);
    width: 100%;

    span {
      position: relative;
      z-index: 10;
    }

    &:after {
      @include background(linear-gradient(135deg, transparent, transparent, scale-color(#fff, $lightness: -10%)));
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      @include transition(all .2s);
      top: 0;
      width: 100%;
    }
  }
}
</style>
